/*GLOBAL START*/

* {margin:0px; padding: 0px; outline: none;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

._container{
    width:100%;
    padding:0px 30px;
    box-sizing: border-box;
}

:root{
    --mygreen:rgb(25,149,136);
    --mypink:rgb(230,42,101);
    --mygray:rgb(41,53,68);
    --mydarkgray:rgb(33,42,54);
    --myyellow:rgb(252,201,2);
    --mywhite:rgb(255,255,255);
    --mylightgray:rgb(241,244,250);
    --myskyblue:rgb(60,78,186);
    --myred:rgb(211,32,35);
    --myorange:rgb(255,108,22);
    --myblack:rgb(0,0,0);

}

html{
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;    
    font-family: 'Inter', sans-serif;

    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
}
/*GLOBAL*/

/*HEAD*/

header{
    background-color: var(--mygray);
    width: 100%;
}

header>.head{
    height:128px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.search{
    width: 540px;
    height: 45px;
    border-radius: 45px;
    overflow: hidden;
    background-color: beige;
    display:flex;
    box-sizing: border-box;
}

.search>.dd{
    display: block;
    height:45px;
    width:148px;
    padding-left:15px;
    line-height: 45px;
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
}
.search>.dd::after{
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    line-height: 18px;
    font-size: 10px;
    top:15px;
    right:-8px;
    width:15px;
    height:15px;
    border-radius: 10px;
    background-color: var(--myyellow);
    z-index: 1;
}

.search .dd option{
    padding-top:100px auto;
    display: block;
}


.search input[type="text"]{
    width:230px;
    height: 45px;
    padding:0px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.search>.btn{
    background-color: var(--myyellow);
    width:162px;
    text-align: center;
    line-height: 30px;
    color: var(--myblack);
    cursor: pointer;
    border-radius: initial;
}

.search>.btn:hover{
    background-color: var(--myblack);
    width:162px;
    text-align: center;
    line-height: 30px;
    color: var(--mywhite);
    cursor: pointer;
    border-radius: initial;
   }

.socialicons{
    display: flex;
    justify-content: space-between;
    color: var(--mywhite);
    width:300px;
    font-size: 20px;
}

.socialicons>.whatsapp{
    color:var(--mywhite);
    position: relative;
    text-decoration: none;
    font-size: 16px;
}

.socialicons>.whatsapp::before{
    position: absolute;
    font-family: 'FontAwesome';
    content:'\f232';
    color:var(--myyellow);
    font-size: 30px;
    left:-40px;
}

.socialicons>.whatsapp::after{
    position: absolute;
    content:'9821671927';
    color:var(--myyellow);
    font-size: 16px;
    left:0px;
    top:16px;
}
nav{
    width: 100%;
    background-color: var(--mydarkgray);
}

nav>._container{
    height:90px;
    color: var(--mywhite);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

nav>._container>.cartbox{
    font-size: 20px;
    width:80px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

nav>._container>.cartbox>.count{
    width:18px;
    height: 18px;
    border-radius: 16px;
    background-color: var(--myyellow);
    position: absolute;
    text-align: center;
    font-size: 14px;
    color:var(--myblack);
    left:16px;
    top:-8px;
}

nav>._container>.cartbox p{
    font-size: 12px;
    padding: 0px 10px;
    box-sizing: border-box;
}


/*
.catagoerybtn{
    width:350px;
    height:64px;
    background-color: var(--myyellow);
    color: var(--myblack);
    box-sizing: border-box;
    padding: 30px auto;
    align-items: center;
}

.catagoerybtn>span{
    width:100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

.catagoerybtn>span>i{
    padding: 0px 10px;
}
*/

.catagoerybtn{
    width:288px;
    background-color: var(--myyellow);
    color: var(--myblack);
    box-sizing: border-box;
    padding: 13px 20px;
    display: flex;
    align-items: center;
}
.catagoerybtn .hamburg-icon {
    margin-right: 15px;
}


.links ul{
    display: flex;
}

.links ul li{
    list-style: none;
    display: block;
    padding: 10px 15px;
}

.links>ul>li>.greenbadage{
    font-size: 10px;
    border-radius: 3px;
    padding: 3px;
    background-color: var(--mygreen);
    color:var(--mywhite);
}

.links>ul>li>.pinkbadage{
    font-size: 10px;
    border-radius: 3px;
    padding: 3px;
    background-color: var(--mypink);
    color:var(--mywhite);
}

.links>ul>li>i{
    font-size: 4px;
}

/*productslider*/
.productslider> ._container{
    height: 100px;
    margin:20px auto;
}

.productcol{
    display: flex;
    align-items: center;
}

.productcol p{
    margin: 0px 10px;
    float: left;
    font-size: 10px;
    font-weight: 900;
}

.productimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

/*Product slider ends*/

.productslider .carousel-control-prev,
.productslider .carousel-control-next{
    color:var(--myblack);
    font-size: 16px;
    width: 5%;
    opacity: .5;
}

.carousel-control-prev,
.carousel-control-next{
    color: var(--mywhite);
    font-weight: 900;
    background-color: transparent;
    border: none;
    font-size: 40px;
    opacity: .1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
    opacity: 1;
}

.carousel-control-prev>.bannerbtn,
.carousel-control-next>.bannerbtn
{
    width:100px;
    height:100px;
    background-color: var(--myblack);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_imgholder{
    width:100px;
    height:100px;
    border-radius: 100px;
    overflow: hidden;
}

.p_imgholder img{
    width:100%;
}


/*HEAD END*/

/*BANNER*/
.carousel{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carousel-item{
    position: relative;
}

.slidertext1{
    position: absolute;
    width: 600px;
    top:20%;
    left:8%;
    color:var(--myblack);
}

.slidertext2{
    position: absolute;
    width: 600px;
    top:20%;
    left:52%;
    color:var(--myblack);
}

.slidertext1>h1, .slidertext2>h1{
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins";
}

.slidertext1>.ctabtn, .slidertext2>.ctabtn{
    font-family: "PoppinsThin100";
    font-weight: 100;
    margin:5px auto;
    padding:15px 10px;
    width:350px;
    box-sizing: border-box;
    background-color: var(--myyellow);
}

.slidertext1>.fromtxt, .slidertext2>.fromtxt{
    position: absolute;
}

.slidertext1>.cost>.bigtxt, .slidertext2>.cost>.bigtxt{
    font-size: 40px;
    font-weight: 600;
}

.slidertext1>.codebox, .slidertext2>.codebox{
    color:var(--myblack);
}

.slidertext1>a, .slidertext2>a{
    position: absolute;
    background-color: var(--mygray);
    padding: 15px 30px;
    right:30px;
    top:220px;
    border-radius: 30px;
    text-decoration: none;
    color:var(--mywhite);
}

.slidertext1>.codebox, .slidertext2>.codebox{
    padding:15px;
    width: 230px;
    position: absolute;
    left:150px;
    top:220px;
    border:2px dashed var(--myblack);

}

/*BANNER END*/

/*TOP PRODUCTS*/
.mainbody{
    width: 100%;
    height: auto;
    margin:20px auto;
}

.topproducts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.topproducts>.item1>img,
.topproducts>.item2>img,
.topproducts>.item3>img{
    float: right;
}

.topproducts>div{
    width:32%;
    flex-wrap: nowrap;
    height:200px;
    position: relative;
    overflow: hidden;
}

.topproducts>div>.contentbox{
    position: absolute;
    width:250px;
    height:150px;
    left:30px;
    top:50px;
}

.topproducts>div>.contentbox>h2{
    font-weight: 900;
    font-size: 22px;
    padding:10px auto;
    float: left;
    width:100%;
}

.topproducts>div>.contentbox>.badage{
    margin:10px auto;
    border-radius: 5px;
    padding: 2px 12px;
    color: var(--mywhite);
    background-color: var(--myorange);
}

.topproducts>div>.contentbox>p{
    margin:10px auto;
}

.topproducts>.item1{
    background-color: var(--myskyblue);
    color: var(--mywhite);
}

.topproducts>.item2{
    background-color: var(--myyellow);
    color: var(--myblack);
}

.topproducts>.item3{
    background-color: var(--myred);
    color: var(--mywhite);
}

.topproducts>.item2>.contentbox>a{
    float: left;
    margin-top: 10px;
    text-decoration: none;
    color:var(--mywhite);
    background-color: var(--myblack);
    padding:10px 25px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 14px;
}

.topproducts>.item2>.contentbox>a:hover{
    float: left;
    margin-top: 10px;
    text-decoration: none;
    color:var(--myblack);
    background-color: var(--mywhite);
    padding:10px 25px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 14px;
}


.topproducts>.item3>.contentbox>a, 
.topproducts>.item1>.contentbox>a{
    float: left;
    margin-top: 10px;
    text-decoration: none;
    color:var(--myblack);
    background-color: var(--mywhite);
    padding:10px 25px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 14px;
}

.topproducts>.item3>.contentbox>a:hover, 
.topproducts>.item1>.contentbox>a:hover{
    float: left;
    margin-top: 10px;
    text-decoration: none;
    color:var(--myblack);
    background-color: var(--myyellow);
    padding:10px 25px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 14px;
}
/*TOP PRODUCTS ENDS*/

/*TREND PRODUCT*/
.tabsection{
    width: 100%;
    margin-top:20px;
    float:left;
}

.tabsection>.tabhead{
    display: flex;
    justify-content: space-between;
    height:50px;
    align-items: center;
    border-bottom: 5px solid var(--myyellow);
}

.tabsection>.tabhead{
    align-items: center;
}

.tabsection>.tabhead>.heading{
    font-size: 30px;
}

.tabsection>.tabhead>.navtab>button{
    border:none;
    display: block;
    float: left;
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    margin:0px 2px;
    font-weight: 600;
    font-size: 12px;
    background-color: transparent;
    outline: none;
}

.tabsection>.tabhead>.navtab>button:hover{
    border:none;
    display: block;
    float: left;
    height: 50px;
    background-color: var(--myyellow);
    padding: 20px;
    border-radius: 5px;
    margin:0px 2px;
    font-weight: 600;
    font-size: 12px;
    outline: none;
}
.tabsection>.tabhead>.navtab>.arrowbtn{
    padding: 15px 10px;
    cursor: pointer;
    float: left;
    align-items: center;
    color:var(--mydarkgray);
    background-color: transparent;
}

.tabsection>.tabhead>.navtab>.arrowbtn>.fa-solid{
    color:red;
}

.tabsection>.trendItems>.featured,
.tabsection>.trendItems>.seller,
.tabsection>.trendItems>.trend{
    display: none;
}

/*feature product crousel*/

.owl-carousel .item{
    border:1px solid var(--mylightgray);
    height: 350px;
    margin-top:15px;
    text-align: center;
}

.owl-carousel .item .image{
    margin:50px auto;
    width:150px;
    height:100px;
}

.owl-carousel .item .image>img{
    width:80%;
    height:auto;
}

.owl-carousel .item .discription{
    display: inline-block;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    padding:0px 15px;
    color:var(--myskyblue);
}

.owl-carousel .item .cost{
    font-weight: 600;
    padding: 15px;
    text-align: center;
}

.owl-carousel .item .cost::before{
    content: '\e1bc';
    font-family: 'FontAwesome';
    font-size: 10px;
    padding: 0px 3px;
    vertical-align: super;
}

.owl-carousel .item input[type=button]{
    margin:0px auto;
    float:none;
    padding:10px 15px;
    border: none;
    background-color: var(--myyellow);
    border-radius: 15px;
    font-size: 14px;
}
/* Crousels */

/*Banner start*/
.banner{
    width:100%;
    margin:20px auto;
    float:left;
    display: flex;
}

.banner>img{
    width:100%;
}
/*Banner end*/

.brands{
    display: flex;
    margin:20px auto;
    justify-content: space-between;
}

.brands>.item{
    width:19%;
    height:250px;
    background-color: var(--mylightgray)
}

.services{
    margin:15px auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--mylightgray);
}

.services>.item{
    width: 23%;
    height:100px;
}

.bestProducts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.bestProducts>.item{
    width: 48%;
    height: 250px;
}

.bestProducts>.p_speaker{
    background-color: var(--myred);
}

.bestProducts>.p_watch{
    background-color: var(--myskyblue);
}

.crouselwrapper{
    display: flex;
    justify-content: space-between;
}

.staticBanner{
    width: 15%;
    height:350px;
    background-color: var(--myyellow);
    margin-top: 15px;
}

._trendingProducts{
    width:84%;
}
